* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: large;
  }

  body {
    background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%);
    background-repeat: no-repeat;
    text-align: center;
    width: 300px;
  }

  .buy {
    color:yellowgreen;
    font-weight: bold;
  }
  .sell {
    color: red;
    font-weight: bold;
  }

  .merchant {
    font-size: 16px;
    color:powderblue;
  }

  .disclaimer {
    font-size: 14px;
    color: black;
    display: none;
  }

  .loading {
    margin-left: -40px;
    display: flex;
  }

  .result-container {
    display: none;
  }

  p {
    margin: 16px auto;
    line-height: 1.5em;
  }