* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: large;
  }

  body {
    background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%);
    background-repeat: no-repeat;
    text-align: center;
    width: 300px;
  }

  .buy {
    color:yellowgreen;
    font-weight: bold;
  }
  .sell {
    color: red;
    font-weight: bold;
  }

  .merchant {
    font-size: 16px;
    color:powderblue;
  }

  .disclaimer {
    font-size: 14px;
    color:white;
    display: none;
  }

  .loading {
    margin-left: -40px;
    display: flex;
  }

  .result-container {
    display: none;
  }

  .metadata {
    display: flex;
  }

  .buynow {
    background-color:green;
    color: black;
  }

  .subscribe {
    color:black;
    background-color:slategrey;
  }

  .unsubscribe {
    color:black;
    background-color: red;
    display: none;
  }

  .btn {
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
  }

  .subscription_success {
    display: none;
  }

  p {
    margin: 16px auto;
    line-height: 1.5em;
  }