* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: large;
  }

  body {
    background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%);
    background-repeat: no-repeat;
    text-align: center;
    width: 300px;
  }

  .goldImg {
    margin: 10px auto 0px 8px;
  }

  .buysell {
    font-weight: bold;
    margin: 6px auto 18px 8px !important;
  }

  .buy {
    color:yellowgreen;
  }
  .sell {
    color: red;
  }

  .merchant {
    font-size: 16px;
    color:powderblue;
  }

  .loading {
    margin-left: -40px;
    display: flex;
  }

  .result-container {
    display: none;
  }

  .metadata {
    display: flex;
    justify-content: space-evenly;
  }

  .buynow {
    background-color:green;
    color: black;
  }

  .subscribe {
    color:black;
    background-color:slategrey;
  }

  .unsubscribe {
    color:black;
    background-color: red;
    display: none;
  }

  .btn {
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
  }

  .subscription_success {
    display: none;
    animation: 1s box-wipe-enter;
  }

  .support {
    display: none;
    justify-content: space-evenly;
  }

  .disclaimer {
    font-size: 14px;
    color:white;
    display: none;
    margin-top: 16px;
  }

  p {
    margin: 10px auto 10px 8px;
    line-height: 1.5em;
  }